Flask==2.2.3
flask_babelex==0.9.4
flask_bcrypt==1.0.1
flask_login==0.6.2
flask_mysqldb==1.0.1
flask_socketio==5.3.3
flask_sqlalchemy==3.0.3
flask_user==1.0.2.2
flask_wtf==1.1.1
HTMLParser==0.0.2
MarkupSafe==1.1.1
matplotlib==3.7.1
numpy==1.20.1
Pillow==9.4.0
protobuf==4.22.1
spacy==3.5.1
SQLAlchemy==2.0.6
WTForms==3.0.1
