
{% block title %}Registration{% endblock %}

	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

	</head>
	<body>
		{% extends 'sidebar.html' %}
		<!-- Content -->
		{% block content %}		
			<div id="content">
			<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">
				{{ form.csrf_token }}
				
				
					<i class="fas fa-user">{{ form.username }}	</i>
					<i class="fas fa-envelope">{{ form.email }}</i>
				
					<i class="fas fa-lock">{{ form.password }}</i>

				
					
			
					{{ form.first_name }}

					{{ form.last_name }}

				
<a href="{{ url_for('login') }}">Already have an account? Log In</a>
	{{ form.submit }}
			</form>
		</div>
		
	</div>
		
	
	
	</body>
	{% endblock %}